{{- define "main" -}}
  <div class="container" data-page="postlist">
    {{- partial "postNav.html" . -}}


    <main class="postScatter">
      {{- $posts := where site.RegularPages "Type" "post" -}}
      {{- range $post := $posts.ByDate.Reverse -}}
        {{- $frames := $post.Resources.ByType "image" -}}
        {{- if $frames -}}
          <a
            class="tile"
            href="{{- $post.RelPermalink -}}"
            aria-label="{{- $post.Title -}}"
          >
            {{- range $i, $img := first 4 $frames -}}
              {{- $lo := partial "function/imgSrc.html" (dict "img" $img "page" $post "size" "lo") -}}
              {{- if eq $i 0 -}}
                <img
                  class="tileFrame"
                  src="{{- $lo.url -}}"
                  width="{{- $lo.w -}}"
                  height="{{- $lo.h -}}"
                  alt="{{- $post.Title -}}"
                  draggable="false"
                />
              {{- else -}}
                <img
                  class="tileFrame"
                  data-src="{{- $lo.url -}}"
                  width="{{- $lo.w -}}"
                  height="{{- $lo.h -}}"
                  alt=""
                  loading="lazy"
                  draggable="false"
                />
              {{- end -}}
            {{- end -}}
            <span class="tileTitle" data-slot="0">{{- .Title -}}</span>
          </a>
        {{- end -}}
      {{- end -}}
    </main>
  </div>
{{- end -}}
