{{- define "main" -}}
  {{- $hasImages := .Resources.ByType "image" -}}
  <div
    class="container"
    data-page="{{ if not $hasImages }}info{{ end }}"
    data-next="{{- site.Params.labels.next -}}"
    data-prev="{{- site.Params.labels.prev -}}"
    data-close="{{- site.Params.labels.close -}}"
    data-loading="{{- site.Params.labels.loading -}}"
  >
    {{- with .Content -}}
      <article>
        {{- . -}}
      </article>
    {{- end -}}

    {{- /* image pages get the full nav; text pages (Info) get the quiet nav */ -}}
    {{- if $hasImages -}}
      {{- partial "nav.html" . -}}
    {{- else -}}
      {{- partial "postNav.html" . -}}
    {{- end -}}
  </div>
{{- end -}}
